<div class="row but upload" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files!)" style="display:none;"
      multiple>
    <button type="button" class="btn btn-success" (click)="file.click()" style="inline-size: max-content;">Upload
      File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
<div class="row" style="overflow-x:auto;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files">
        <td>{{item.name}}</td>
        <td><a href="#">Open</a></td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
